@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
  --bg-color: #424269;
  --primary: #b1b8ce;
  --secondary: #b8a7c8;
  --primary-shade: #95a8bc;
  --secondary-shade: #7f72a6;
  --clock-size: 600px;
}

body {
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--primary);
  font-family: 'Montserrat';
}